html body {
   height: 100vh;
   width: 100%;
   margin: 0;
   padding: 0;
   overflow-x: hidden;
}


header {
   background-color: rgba(0, 0, 0, 0.88);
   color: white;
   flex-direction: row;
   justify-content: center;
   opacity: 0.8;
   height: 90px;
   /* width: 1440px; */
   width: 100%;
   position: fixed; 
   top: 0; 
   z-index: 100; 
}
.navbar {
    display: flex;
    align-items: center;
}

 nav ul {
    float: right;
 }
 .logos {
    padding-left: 2.5rem;
 }
 .l-nav {
    padding-left: 8rem;
 }
 .r-nav {
    padding-left: 26rem;
 }

 .section1 {
    background-image: url("./assets/image-1-2.jpg");
    background-repeat: no-repeat;
    /* width:1440px ; */
    background-size: cover;
    width: 100%;
    height: 960px;
    background-position: 0px -1px;
}
 h1 {
   margin:0px 0px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 700;
   font-size: 72px;
   line-height: 82.79px;
   color: white;
   letter-spacing: 3px;
   z-index: 77;
   width: max-content;
   margin: 0px;

}
h3 {
   margin:0px 0px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 400px;
   font-size: 24px;
   line-height: 27.6px;
   color: white;
   width: max-content;
}
h5 {
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 400;
   font-size: 24px;
   line-height: 27.6px;
   letter-spacing: 2px;
   color: #FFB548;
   ;
}
h6 {
   font-size: 18px;
   font-weight: 22px;
   letter-spacing: 0px;
   text-align: left;
   color: white;
   font-weight: 400;
   font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}


button {
   width: 260.36px;
   height: 60px;
   border-radius: 6px;
   background-color: orange;
}

.section1 .container-bg1 {
   text-align: center;
   padding-top: 313px;
}
.section1 .text-bg1 {
   position: relative;
   text-align: center;
   width: max-content;
   left: 224px;
   top: 0px;
}
.text-bg1 :nth-child(1) {
   position: relative;
   text-align: center;
   width: max-content;
   left: 10px;
   top: 40px;
}
.text-bg1 :nth-child(2) {
   position: relative;
   text-align: center;
   width: max-content;
   left: 270px;
   top: 70px;
}
.section1 .button-play {
   position: relative;
   top: 135px;
}
.navbar {
   z-index: 99;
   height: 90px;
   width: 1440px;
}
.section2 {
   background-image: url("./assets/bg-image-2.jpg");
   background-repeat: no-repeat;
   /* width:1440px ; */
   width: 100%;
   height: 987px;
   z-index: 0;
   background-repeat: no-repeat, no-repeat, no-repeat;
   background-position: 0px -10px;
}
.section2 .left-swp {
   position: relative;
   top: -250px;
   left: 1320px;
   height: 20px;
   width: 38px;
}
.section2 .right-swp {
   position: relative;
   top: -290px;
   left: 420px;
   height: 20px;
   width: 38px;
}
.container-bg2 h3 {
   max-width: max-content;
   position: relative;
   font-weight: 400;
   top: 50px;
   left:60px;
   font-size: 24px;
   line-height: 27.6px;
   letter-spacing: 2px;

}
  .container-bg2 h1  {
   position: relative;
   left: 60px;
   top: 55px;
   z-index: 70;
   width: max-content;
   font-weight: 400;
   font-size: 56px;
   letter-spacing: 3px;
   line-height: 64.39px;
}
.section2 .scissor {
   width: 858px;
   height: 477px;
   top: 50px;
   padding-left: 453px;
   font-weight: 400;
   z-index: 8;
}
.section2 .img {
   z-index: 99;
   width: 858px;
   height: 477px;
   padding-left: 50px;
}

.section3 {
   background-image: url("./assets/bg-image-3-2.png");
   background-repeat: no-repeat;
   /* width:1440px ; */
   width: 100%;
   height: 960px;
   z-index: 0;
   background-repeat: no-repeat, no-repeat, no-repeat;
   background-position: 0px -1px;
}
.section3 h1 {
   position: relative;
   left: 870px;
   top: -15px;
   z-index: 70;
   width: max-content;
   font-weight: 400;
   font-size: 56px;
   letter-spacing: 3px;
   line-height: 64.39px;

}
.section3 h3 {
   max-width: max-content;
   position: relative;
   font-weight: 400;
   top: -20px;
   left:870px;
   font-size: 24px;
   line-height: 27.6px;
   letter-spacing: 2px;
}
.section3 h6 {
   position: relative;
   left: 908px;
   top: -130px;
}
.section3 .feat-font1 {
   position: relative;
   left: 908px;
   top: 40px;
   line-height: 300px;
   width: max-content;
   
}

.section3 .feat-font2 {
   position: relative;
   left: 908px;
   top: 130px;
   line-height: 300px;
   width: max-content;
}
.section3 .feat-font3 {
   position: relative;
   left: 908px;
   top: 169px;
   line-height: 300px;
   width: max-content;
}

.section3 .progress-sign {
   position: relative;
   left: 870px;
   top: 387px;
   width: max-content;
}
.section3 .line {
   position: relative;
   left: 7px;
   top: -5px;
   z-index: 88;
   max-width: max-content;
}
.section3 .elipse1 {
   position: relative;
   left: 0.7px;
   top: -11px;
}
.section3 .elipse2 {
   position: relative;
   left: 0.7px;
   top: 75px;
}
.section4 {
   background-image: url("./assets/bg-image-4.png");
   /* width:1442px ; */
   width: 100%;
   height: 961px;
   padding-bottom: 20px;
   background-position: 0px -1px;
   background-repeat: no-repeat, no-repeat, no-repeat;
   background-size: cover; 
}
.tabel :nth-child(1) {
   position: relative;
   top: 385px;
   left: 120px;
}
.tabel :nth-child(2) {
   position: relative;
   left: -150px;
}
.section4 .vl {
   height: 250.88px;
   border-left: 0.5px solid white;
   width: max-content;
   position: relative;
   left: 400px;
   top: -21px;
}
.section4 .h2 {
   width: 572.85px;
   border-top: 0.5px solid white;
   position: relative;
   left: 121.6px;
   bottom: 150px;
}
.section4 .h1 {
   width: 572.85px;
   border-top: 0.5px solid white;
   position: relative;
   left: 121.6px;
   bottom: 22px;
}
.head-table {
   width: max-content;
}
.head-table :nth-child(1) {
   position: relative;
   width: max-content;
   bottom: 300px;
   left: 135px;
}
.head-table :nth-child(2) {
   position: relative;
   width: max-content;
   bottom: 365px;
   left: 415px;
}
.head-table :nth-child(3) {
   position: relative;
   width: max-content;
   bottom: 300px;
   left: 135px;
}
.head-table :nth-child(4) {
   position: relative;
   width: max-content;
   bottom: 365px;
   left: 415px;
}
.head-table :nth-child(5) {
   position: relative;
   width: max-content;
   bottom: 300px;
   left: 135px;
}
.section4 .content-table {
   position: relative;
   bottom: 0px;
}
.section4 h6 {
   width: max-content;
   height: max-content;
   position: relative;
   bottom: 0px;
   margin: 0px;
}
.content-table :nth-child(1) {
   position: relative;
   width: max-content;
   left: 138px;
   bottom: 620px;
}
.content-table :nth-child(2) {
   position: relative;
   width: max-content;
   left: 415px;
   bottom: 680px;
}

.content-table :nth-child(3) {
   position: relative;
   width: max-content;
   left: 138px;
   bottom: 585px;
}
.content-table :nth-child(4) {
   position: relative;
   width: max-content;
   left: 415px;
   bottom: 628px;
}
.content-table :nth-child(5) {
   position: relative;
   width: max-content;
   left: 138px;
   bottom: 540px;
}
.section5 {
   background-image: url("./assets/bg-5.png");
   height: 100vh;
   width: 100%;
   background-position: center; 
   background-size: cover;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   overflow-x: hidden; 
}
.section5 .text-bg5 {
   position: relative;
   width: max-content;
   top: 250px;
   left: 100px;
   font-weight: 400;
}
.comment-5 :nth-child(1) {
position: relative;
left: 750px;
bottom: 90px;
}
.comment-5 :nth-child(2) {
   position: relative;
   left: 350px;
   bottom: -60px;
}
.comment-5 :nth-child(3) {
   position: relative;
   left: 100px;
   bottom: -220px;
}
.section6 {
   background-color: black;
   height: 100vh;
   width: 100%;
   background-position: center; 
   background-size: cover;
   opacity: 0.958;
}
.up-words h3{
   position: relative;
   width: max-content;
   left: 560px;
   bottom: 660px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 400;
}
.section6 h1 {
   position: relative;
   width: max-content;
   left: 560px;
   bottom: 710px;
   font-weight: 400;
   height: max-content;
   margin: 0;
}
.section6 h6 {
   position: relative;
   width: max-content;
   left: 560px;
   bottom: 690px;
   font-weight: 400;
   font-size: 18px;
   margin: 0px;
}
.subs {
   background-color: orange;
   color: black;
   padding: 10px 20px;
   font-size: 16px;
   border: none;
   cursor: pointer;
   height: 32px;
   width: 150px;
   text-align: center;
   position: relative;
   left: 980px;   
   bottom: 300px;
}
