@media screen and (max-width: 640px) {
    .calc-header {
        width: 80%;
    }
    .result {
        width: 80%;
    }
    .table-grid {
        width: 79%;
    }
}
@media  screen and (min-width: 641px) and (max-width:1123px) {
    .calc-header {
        width: 70%;
    }
    .result {
        width: 70%;
    }
    .table-grid {
        width: 69%;
    }
}